In [1]:
10/3

3.3333333333333335

In [2]:
math.ceil(10/3)

NameError: name 'math' is not defined

In [3]:
import math

In [4]:
math.ceil(10/3)

4

In [5]:
import pandas as pd

In [6]:
data_for_df = [
    {'id': 1, 'name': 'Jhon Doe'},
    {'id': 2, 'name': 'Jane Doe'},
    {'id': 3, 'name': 'Kobe Bryant'},
    {'id': 4, 'name': 'Mel Gibson'},
    {'id': 5, 'name': 'Toby McGuire'},
]

df = pd.DataFrame(data_for_df)

In [7]:
df

   id          name
0   1      Jhon Doe
1   2      Jane Doe
2   3   Kobe Bryant
3   4    Mel Gibson
4   5  Toby McGuire