In [1]:
import tabula, math, PyPDF2
import pandas as pd

from tqdm.notebook import tqdm

In [ ]:
#pdf_tabel = tabula.read_pdf("Salinan Lampiran 4 Kepmendikbudristek BOS Kesetaraan.pdf", pages="all")

java.lang.OutOfMemoryError: java.lang.OutOfMemoryError: Java heap space

In [4]:
# Open the PDF file
with open("Salinan Lampiran 4 Kepmendikbudristek BOP Kesetaraan.pdf", 'rb') as file:
    # Create a PDF reader object
    pdf_reader = PyPDF2.PdfReader(file)
    # Get the number of pages
    total_pages = len(pdf_reader.pages)
    print(f"Total pages in PDF: {total_pages}")

Total pages in PDF: 601

In [6]:
pdf_info = tabula.read_pdf("Salinan Lampiran 4 Kepmendikbudristek BOP Kesetaraan.pdf", pages='1')
#total_pages = 5000
chunk_size = 10
total_chunks = math.ceil(total_pages / chunk_size)
print(f"Total chunks needed: {total_chunks}")

Total chunks needed: 61

In [7]:
all_tables = []
for chunk in tqdm(range(total_chunks), desc="Processing PDF chunks"):
    start_page = chunk * chunk_size + 1
    end_page = min((chunk + 1) * chunk_size, total_pages)
    
    try:
        # Read chunk of pages
        chunk_tables = tabula.read_pdf(
            "Salinan Lampiran 4 Kepmendikbudristek BOP Kesetaraan.pdf",
            pages=f"{start_page}-{end_page}"
        )
        # Extend the list with new tables
        all_tables.extend(chunk_tables)
    except Exception as e:
        print(f"Error processing pages {start_page}-{end_page}: {str(e)}")
        continue

# Combine all tables into pdf_tabel
pdf_tabel = pd.concat(all_tables, ignore_index=True)

Processing PDF chunks:   0%|          | 0/61 [00:00<?, ?it/s]

In [8]:
pdf_tabel

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Nomor,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Provinsi/\rKabupaten\r/Kota,Bentuk Satuan\rPendidikan,Nomor\rPokok\rSekolah\rNasional,Nama Satuan\rPendidikan,Jumlah Peserta Didik,Satuan Biaya (Rupiah),Besaran Alokasi Dana Satu Tahun (Rupiah)
0,NaN,Provinsi/,NaN,NaN,NaN,Jumlah Peserta Didik,Satuan Biaya (Rupiah),NaN,Besaran Alokasi Dana Satu Tahun (Rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Bentuk Satuan,NaN,Pokok,Nama Satuan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nomor,Kabupaten/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Pendidikan,NaN,Sekolah,Pendidikan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Kota,NaN,NaN,NaN,Paket A Paket B Paket C Total,Paket A Paket B Paket C,Paket A,Paket B Paket C Total Besaran Alokasi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10679,78,1.300.000,1.500.000,NaN,1.800.000,6.500.000,24.000.000,102.600.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P2965021,PKBM CAHAYA,5,16,57
10680,69,1.300.000,1.500.000,NaN,1.800.000,-,22.500.000,97.200.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P2966884,PKBM WIRABANGSA,-,15,54
10681,8,1.300.000,1.500.000,NaN,1.800.000,-,-,14.400.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9934457,PKBM BUNDA,-,-,8
10682,33,1.300.000,1.500.000,NaN,1.800.000,1.300.000,28.500.000,23.400.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9984821,PKBM SRI MELAYU\rSUMATERA TIMUR,1,19,13
10683,71,1.300.000,1.500.000,NaN,1.800.000,3.900.000,19.500.000,99.000.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9998551,PKBM SWASTA\rRAUDHATUL\rHASANAH KARIM,3,13,55

In [9]:
pdf_tabel.columns = [
    'nomor',
    'wilayah',
    'bentuk_pendidikan',
    'npsn',
    'nama_sekolah',
    'jumlah_pd_a',
    'jumlah_pd_b',
    'jumlah_pd_c',
    'jumlah_pd_total',
    'satuan_biaya_a',
    'satuan_biaya_b',
    'satuan_biaya_c',
    'alokasi_satu_tahun_a',
    'alokasi_satu_tahun_b',
    'alokasi_satu_tahun_c',
    'alokasi_satu_tahun_total',
]

In [11]:
pdf_tabel.head(10)

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_pd_a,jumlah_pd_b,jumlah_pd_c,jumlah_pd_total,satuan_biaya_a,satuan_biaya_b,satuan_biaya_c,alokasi_satu_tahun_a,alokasi_satu_tahun_b,alokasi_satu_tahun_c,alokasi_satu_tahun_total
0,NaN,Provinsi/,NaN,NaN,NaN,Jumlah Peserta Didik,Satuan Biaya (Rupiah),NaN,Besaran Alokasi Dana Satu Tahun (Rupiah),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Bentuk Satuan,NaN,Pokok,Nama Satuan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nomor,Kabupaten/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Pendidikan,NaN,Sekolah,Pendidikan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Kota,NaN,NaN,NaN,Paket A Paket B Paket C Total,Paket A Paket B Paket C,Paket A,Paket B Paket C Total Besaran Alokasi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,Nasional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,(a),(b) (c),NaN,(d),(e),(f) (g) (h) (i),(j) (k) (l),(m),(n) (o) (p),NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Provinsi Aceh,NaN,NaN,NaN,835 6.305 19.012 26.152,NaN,1.122.300.000,9.633.180.000 34.788.860.000 45.544.340.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Kabupaten Aceh Barat,NaN,NaN,NaN,- 58 470 528,NaN,-,89.900.000 874.200.000 964.100.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Skip first 8 rows and reset index
pdf_tabel = pdf_tabel.iloc[8:].reset_index(drop=True)

In [13]:
pdf_tabel

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_pd_a,jumlah_pd_b,jumlah_pd_c,jumlah_pd_total,satuan_biaya_a,satuan_biaya_b,satuan_biaya_c,alokasi_satu_tahun_a,alokasi_satu_tahun_b,alokasi_satu_tahun_c,alokasi_satu_tahun_total
0,NaN,Provinsi Aceh,NaN,NaN,NaN,835 6.305 19.012 26.152,NaN,1.122.300.000,9.633.180.000 34.788.860.000 45.544.340.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Kabupaten Aceh Barat,NaN,NaN,NaN,- 58 470 528,NaN,-,89.900.000 874.200.000 964.100.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Pusat Kegiatan,NaN,NaN,PKBM MEUREUBO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,P9934727,NaN,- 4 122 126,1.340.000 1.550.000 1 .860.000,-,6.200.000 226.920.000 233.120.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Belajar Masyarakat,NaN,NaN,MANDIRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10671,78,1.300.000,1.500.000,NaN,1.800.000,6.500.000,24.000.000,102.600.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P2965021,PKBM CAHAYA,5,16,57
10672,69,1.300.000,1.500.000,NaN,1.800.000,-,22.500.000,97.200.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P2966884,PKBM WIRABANGSA,-,15,54
10673,8,1.300.000,1.500.000,NaN,1.800.000,-,-,14.400.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9934457,PKBM BUNDA,-,-,8
10674,33,1.300.000,1.500.000,NaN,1.800.000,1.300.000,28.500.000,23.400.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9984821,PKBM SRI MELAYU\rSUMATERA TIMUR,1,19,13
10675,71,1.300.000,1.500.000,NaN,1.800.000,3.900.000,19.500.000,99.000.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9998551,PKBM SWASTA\rRAUDHATUL\rHASANAH KARIM,3,13,55

In [ ]:
# Save to pickle format
pdf_tabel.to_pickle('pdf_tabel_bop_kesetaraan.pkl')

# Save to feather format
pdf_tabel.to_feather('pdf_tabel_bop_kesetaraan.feather')

In [14]:
pdf_tabel

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_pd_a,jumlah_pd_b,jumlah_pd_c,jumlah_pd_total,satuan_biaya_a,satuan_biaya_b,satuan_biaya_c,alokasi_satu_tahun_a,alokasi_satu_tahun_b,alokasi_satu_tahun_c,alokasi_satu_tahun_total
0,NaN,Provinsi Aceh,NaN,NaN,NaN,835 6.305 19.012 26.152,NaN,1.122.300.000,9.633.180.000 34.788.860.000 45.544.340.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Kabupaten Aceh Barat,NaN,NaN,NaN,- 58 470 528,NaN,-,89.900.000 874.200.000 964.100.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Pusat Kegiatan,NaN,NaN,PKBM MEUREUBO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,P9934727,NaN,- 4 122 126,1.340.000 1.550.000 1 .860.000,-,6.200.000 226.920.000 233.120.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Belajar Masyarakat,NaN,NaN,MANDIRI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10671,78,1.300.000,1.500.000,NaN,1.800.000,6.500.000,24.000.000,102.600.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P2965021,PKBM CAHAYA,5,16,57
10672,69,1.300.000,1.500.000,NaN,1.800.000,-,22.500.000,97.200.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P2966884,PKBM WIRABANGSA,-,15,54
10673,8,1.300.000,1.500.000,NaN,1.800.000,-,-,14.400.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9934457,PKBM BUNDA,-,-,8
10674,33,1.300.000,1.500.000,NaN,1.800.000,1.300.000,28.500.000,23.400.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9984821,PKBM SRI MELAYU\rSUMATERA TIMUR,1,19,13
10675,71,1.300.000,1.500.000,NaN,1.800.000,3.900.000,19.500.000,99.000.000,93.600.000,NaN,Pusat Kegiatan\rBelajar Masyarakat,P9998551,PKBM SWASTA\rRAUDHATUL\rHASANAH KARIM,3,13,55

In [10]:
pdf_tabel = pdf_tabel.drop(0)
pdf_tabel = pdf_tabel.reset_index(drop=True)

In [11]:
pdf_tabel

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_siswa,satuan_biaya,total_alokasi
0,1,Provinsi Aceh,NaN,NaN,882.520,NaN,1.041.073.930.000,NaN
1,NaN,Kabupaten Aceh Barat,NaN,NaN,30.042,NaN,38.930.680.000,NaN
2,NaN,NaN,Sekolah Dasar,10107828,SD MUHAMMADIYAH MEULABOH,43,1.010.000,43.430.000
3,NaN,NaN,Sekolah Dasar,10107829,SD NEGERI 11 MEULABOH,97,1.010.000,97.970.000
4,NaN,NaN,Sekolah Dasar,10107830,SD NEGERI 12 MEULABOH,247,1.010.000,249.470.000
...,...,...,...,...,...,...,...,...
226199,NaN,NaN,Sekolah Menengah Kejuruan,69840940,SMK SWASTA KESEHATAN GANDA HUSADA,208,1.600.000,332.800.000
226200,NaN,NaN,Sekolah Menengah Kejuruan,69916026,SMK SWASTA R.A. KARTINI,197,1.600.000,315.200.000
226201,NaN,NaN,Sekolah Luar Biasa,10211532,SLB Negeri Tebing Tinggi,121,3.500.000,423.500.000
226202,NaN,NaN,Sekolah Luar Biasa,69886466,SLB SWASTA YAPSI TEBING TINGGI,154,3.500.000,539.000.000
226203,NaN,NaN,Sekolah Luar Biasa,69896658,SLB SWASTA KASIH IBU,141,3.500.000,493.500.000

In [15]:
# Remove dots and convert to numeric
pdf_tabel['jumlah_siswa'] = pd.to_numeric(pdf_tabel['jumlah_siswa'].str.replace('.', ''), errors='coerce')
pdf_tabel['satuan_biaya'] = pd.to_numeric(pdf_tabel['satuan_biaya'].str.replace('.', ''), errors='coerce')
pdf_tabel['total_alokasi'] = pd.to_numeric(pdf_tabel['total_alokasi'].str.replace('.', ''), errors='coerce')

In [ ]:
# Save to pickle format
pdf_tabel.to_pickle('pdf_tabel_bop_kesetaraan_1.pkl')

# Save to feather format
pdf_tabel.to_feather('pdf_tabel_bop_kesetaraan_1.feather')

In [19]:
pdf_tabel

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_siswa,satuan_biaya,total_alokasi,province
0,1,Provinsi Aceh,NaN,NaN,882.520,NaN,1.041074e+12,NaN,Provinsi Aceh
1,NaN,Kabupaten Aceh Barat,NaN,NaN,30.042,NaN,3.893068e+10,NaN,Provinsi Aceh
2,NaN,NaN,Sekolah Dasar,10107828,SD MUHAMMADIYAH MEULABOH,43.0,1.010000e+06,43430000.0,Provinsi Aceh
3,NaN,NaN,Sekolah Dasar,10107829,SD NEGERI 11 MEULABOH,97.0,1.010000e+06,97970000.0,Provinsi Aceh
4,NaN,NaN,Sekolah Dasar,10107830,SD NEGERI 12 MEULABOH,247.0,1.010000e+06,249470000.0,Provinsi Aceh
...,...,...,...,...,...,...,...,...,...
226199,NaN,NaN,Sekolah Menengah Kejuruan,69840940,SMK SWASTA KESEHATAN GANDA HUSADA,208.0,1.600000e+06,332800000.0,Provinsi Sumatera Utara
226200,NaN,NaN,Sekolah Menengah Kejuruan,69916026,SMK SWASTA R.A. KARTINI,197.0,1.600000e+06,315200000.0,Provinsi Sumatera Utara
226201,NaN,NaN,Sekolah Luar Biasa,10211532,SLB Negeri Tebing Tinggi,121.0,3.500000e+06,423500000.0,Provinsi Sumatera Utara
226202,NaN,NaN,Sekolah Luar Biasa,69886466,SLB SWASTA YAPSI TEBING TINGGI,154.0,3.500000e+06,539000000.0,Provinsi Sumatera Utara
226203,NaN,NaN,Sekolah Luar Biasa,69896658,SLB SWASTA KASIH IBU,141.0,3.500000e+06,493500000.0,Provinsi Sumatera Utara

In [18]:
# Create a new column 'province'
pdf_tabel['province'] = None

# Initialize current_province
current_province = None

# Iterate through rows
for idx, row in pdf_tabel.iterrows():
    if isinstance(row['wilayah'], str) and 'Provinsi' in row['wilayah']:
        current_province = row['wilayah']
    pdf_tabel.at[idx, 'province'] = current_province

In [20]:
pdf_tabel

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_siswa,satuan_biaya,total_alokasi,province
0,1,Provinsi Aceh,NaN,NaN,882.520,NaN,1.041074e+12,NaN,Provinsi Aceh
1,NaN,Kabupaten Aceh Barat,NaN,NaN,30.042,NaN,3.893068e+10,NaN,Provinsi Aceh
2,NaN,NaN,Sekolah Dasar,10107828,SD MUHAMMADIYAH MEULABOH,43.0,1.010000e+06,43430000.0,Provinsi Aceh
3,NaN,NaN,Sekolah Dasar,10107829,SD NEGERI 11 MEULABOH,97.0,1.010000e+06,97970000.0,Provinsi Aceh
4,NaN,NaN,Sekolah Dasar,10107830,SD NEGERI 12 MEULABOH,247.0,1.010000e+06,249470000.0,Provinsi Aceh
...,...,...,...,...,...,...,...,...,...
226199,NaN,NaN,Sekolah Menengah Kejuruan,69840940,SMK SWASTA KESEHATAN GANDA HUSADA,208.0,1.600000e+06,332800000.0,Provinsi Sumatera Utara
226200,NaN,NaN,Sekolah Menengah Kejuruan,69916026,SMK SWASTA R.A. KARTINI,197.0,1.600000e+06,315200000.0,Provinsi Sumatera Utara
226201,NaN,NaN,Sekolah Luar Biasa,10211532,SLB Negeri Tebing Tinggi,121.0,3.500000e+06,423500000.0,Provinsi Sumatera Utara
226202,NaN,NaN,Sekolah Luar Biasa,69886466,SLB SWASTA YAPSI TEBING TINGGI,154.0,3.500000e+06,539000000.0,Provinsi Sumatera Utara
226203,NaN,NaN,Sekolah Luar Biasa,69896658,SLB SWASTA KASIH IBU,141.0,3.500000e+06,493500000.0,Provinsi Sumatera Utara

In [21]:
# Create a new column 'province'
pdf_tabel['regency'] = None

# Initialize current_province
current_regency = None

# Iterate through rows
for idx, row in pdf_tabel.iterrows():
    if isinstance(row['wilayah'], str) and ('Kabupaten' in row['wilayah'] or 'Kota' in row['wilayah']):
        current_regency = row['wilayah']
    pdf_tabel.at[idx, 'regency'] = current_regency

In [22]:
pdf_tabel

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_siswa,satuan_biaya,total_alokasi,province,regency
0,1,Provinsi Aceh,NaN,NaN,882.520,NaN,1.041074e+12,NaN,Provinsi Aceh,None
1,NaN,Kabupaten Aceh Barat,NaN,NaN,30.042,NaN,3.893068e+10,NaN,Provinsi Aceh,Kabupaten Aceh Barat
2,NaN,NaN,Sekolah Dasar,10107828,SD MUHAMMADIYAH MEULABOH,43.0,1.010000e+06,43430000.0,Provinsi Aceh,Kabupaten Aceh Barat
3,NaN,NaN,Sekolah Dasar,10107829,SD NEGERI 11 MEULABOH,97.0,1.010000e+06,97970000.0,Provinsi Aceh,Kabupaten Aceh Barat
4,NaN,NaN,Sekolah Dasar,10107830,SD NEGERI 12 MEULABOH,247.0,1.010000e+06,249470000.0,Provinsi Aceh,Kabupaten Aceh Barat
...,...,...,...,...,...,...,...,...,...,...
226199,NaN,NaN,Sekolah Menengah Kejuruan,69840940,SMK SWASTA KESEHATAN GANDA HUSADA,208.0,1.600000e+06,332800000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
226200,NaN,NaN,Sekolah Menengah Kejuruan,69916026,SMK SWASTA R.A. KARTINI,197.0,1.600000e+06,315200000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
226201,NaN,NaN,Sekolah Luar Biasa,10211532,SLB Negeri Tebing Tinggi,121.0,3.500000e+06,423500000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
226202,NaN,NaN,Sekolah Luar Biasa,69886466,SLB SWASTA YAPSI TEBING TINGGI,154.0,3.500000e+06,539000000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
226203,NaN,NaN,Sekolah Luar Biasa,69896658,SLB SWASTA KASIH IBU,141.0,3.500000e+06,493500000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi

In [27]:
# Remove rows where npsn column contains "(d)"
pdf_tabel = pdf_tabel[pdf_tabel['npsn'] != "(d)"]
# Reset index after removing rows
pdf_tabel = pdf_tabel.reset_index(drop=True)

In [37]:
# Remove rows where bentuk_pendidikan is NaN
pdf_tabel = pdf_tabel[pd.notna(pdf_tabel['bentuk_pendidikan'])]
# Reset index after removing rows 
pdf_tabel = pdf_tabel.reset_index(drop=True)

In [38]:
pdf_tabel

,nomor,wilayah,bentuk_pendidikan,npsn,nama_sekolah,jumlah_siswa,satuan_biaya,total_alokasi,province,regency
0,NaN,NaN,Sekolah Dasar,10107828,SD MUHAMMADIYAH MEULABOH,43.0,1010000.0,43430000.0,Provinsi Aceh,Kabupaten Aceh Barat
1,NaN,NaN,Sekolah Dasar,10107829,SD NEGERI 11 MEULABOH,97.0,1010000.0,97970000.0,Provinsi Aceh,Kabupaten Aceh Barat
2,NaN,NaN,Sekolah Dasar,10107830,SD NEGERI 12 MEULABOH,247.0,1010000.0,249470000.0,Provinsi Aceh,Kabupaten Aceh Barat
3,NaN,NaN,Sekolah Dasar,10107831,SD NEGERI 13 MEULABOH,126.0,1010000.0,127260000.0,Provinsi Aceh,Kabupaten Aceh Barat
4,NaN,NaN,Sekolah Dasar,10107832,SD NEGERI 14 MEULABOH,440.0,1010000.0,444400000.0,Provinsi Aceh,Kabupaten Aceh Barat
...,...,...,...,...,...,...,...,...,...,...
219694,NaN,NaN,Sekolah Menengah Kejuruan,69840940,SMK SWASTA KESEHATAN GANDA HUSADA,208.0,1600000.0,332800000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219695,NaN,NaN,Sekolah Menengah Kejuruan,69916026,SMK SWASTA R.A. KARTINI,197.0,1600000.0,315200000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219696,NaN,NaN,Sekolah Luar Biasa,10211532,SLB Negeri Tebing Tinggi,121.0,3500000.0,423500000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219697,NaN,NaN,Sekolah Luar Biasa,69886466,SLB SWASTA YAPSI TEBING TINGGI,154.0,3500000.0,539000000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219698,NaN,NaN,Sekolah Luar Biasa,69896658,SLB SWASTA KASIH IBU,141.0,3500000.0,493500000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi

In [ ]:
# Save to pickle format
pdf_tabel[['wilayah', 'bentuk_pendidikan', 'npsn', 'nama_sekolah', 'jumlah_siswa', 'satuan_biaya', 'total_alokasi', 'province', 'regency']].to_pickle('pdf_tabel_bop_kesetaraan_clean.pkl')

# Save to feather format
pdf_tabel[['wilayah', 'bentuk_pendidikan', 'npsn', 'nama_sekolah', 'jumlah_siswa', 'satuan_biaya', 'total_alokasi', 'province', 'regency']].to_feather('pdf_tabel_bop_kesetaraan_clean.feather')

In [42]:
df_bos_reguler_2024 = pdf_tabel[['bentuk_pendidikan', 'npsn', 'nama_sekolah', 'jumlah_siswa', 'satuan_biaya', 'total_alokasi', 'province', 'regency']].copy()

In [43]:
df_bos_reguler_2024

,bentuk_pendidikan,npsn,nama_sekolah,jumlah_siswa,satuan_biaya,total_alokasi,province,regency
0,Sekolah Dasar,10107828,SD MUHAMMADIYAH MEULABOH,43.0,1010000.0,43430000.0,Provinsi Aceh,Kabupaten Aceh Barat
1,Sekolah Dasar,10107829,SD NEGERI 11 MEULABOH,97.0,1010000.0,97970000.0,Provinsi Aceh,Kabupaten Aceh Barat
2,Sekolah Dasar,10107830,SD NEGERI 12 MEULABOH,247.0,1010000.0,249470000.0,Provinsi Aceh,Kabupaten Aceh Barat
3,Sekolah Dasar,10107831,SD NEGERI 13 MEULABOH,126.0,1010000.0,127260000.0,Provinsi Aceh,Kabupaten Aceh Barat
4,Sekolah Dasar,10107832,SD NEGERI 14 MEULABOH,440.0,1010000.0,444400000.0,Provinsi Aceh,Kabupaten Aceh Barat
...,...,...,...,...,...,...,...,...
219694,Sekolah Menengah Kejuruan,69840940,SMK SWASTA KESEHATAN GANDA HUSADA,208.0,1600000.0,332800000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219695,Sekolah Menengah Kejuruan,69916026,SMK SWASTA R.A. KARTINI,197.0,1600000.0,315200000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219696,Sekolah Luar Biasa,10211532,SLB Negeri Tebing Tinggi,121.0,3500000.0,423500000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219697,Sekolah Luar Biasa,69886466,SLB SWASTA YAPSI TEBING TINGGI,154.0,3500000.0,539000000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi
219698,Sekolah Luar Biasa,69896658,SLB SWASTA KASIH IBU,141.0,3500000.0,493500000.0,Provinsi Sumatera Utara,Kota Tebing Tinggi

In [44]:
#df_bos_reguler_2024.to_excel('alokasi_bos_reguler_2024.xlsx', index=False)