# Variables

## Variable Name

### Space

In [1]:
nama variabel = 10

SyntaxError: invalid syntax (3455058653.py, line 1)

In [2]:
namavariabel = 10

In [3]:
namavariabel

10

### Numbers

In [4]:
222namavariabel = 10

SyntaxError: invalid decimal literal (193745584.py, line 1)

In [5]:
namavariabel222 = 10

In [6]:
namavariabel222

10

### Punctuation

In [7]:
namavariabel! = 10

SyntaxError: invalid syntax (4106350699.py, line 1)

In [8]:
namavariabel? = 10

SyntaxError: invalid syntax (1514478656.py, line 1)

In [9]:
namavariabel- = 10

SyntaxError: invalid syntax (3016185298.py, line 1)

In [11]:
namavariabel_ = 10

In [12]:
namavariabel_

10

### Keyword

In [13]:
False = 'benar'

SyntaxError: cannot assign to False (4160215074.py, line 1)

In [14]:
class = 'kelas'

SyntaxError: invalid syntax (2918158033.py, line 1)

In [15]:
global = 'top global'

SyntaxError: invalid syntax (1608864054.py, line 1)

In [16]:
if = 'jika'

SyntaxError: invalid syntax (4222682708.py, line 1)

# Import

In [17]:
import math

In [18]:
var1 = 10/3

In [19]:
var1

3.3333333333333335

In [20]:
math.ceil(var1)

4

# Print

In [21]:
print('halo dunia')

halo dunia

In [24]:
var1 = 10
var2 = 20
var3 = 30

var4 = var1 + var2 / var3

var5 = var4 % 2

In [25]:
print(var4)

10.666666666666666

In [26]:
print(var5)

0.6666666666666661