# Variables

## Variable Name

### Space

In [1]:
nama variabel = 10

SyntaxError: invalid syntax (3455058653.py, line 1)

In [2]:
namavariabel = 10

In [3]:
namavariabel

10

### Numbers

In [4]:
222namavariabel = 10

SyntaxError: invalid decimal literal (193745584.py, line 1)

In [5]:
namavariabel222 = 10

In [6]:
namavariabel222

10

### Punctuation

In [7]:
namavariabel! = 10

SyntaxError: invalid syntax (4106350699.py, line 1)

In [8]:
namavariabel? = 10

SyntaxError: invalid syntax (1514478656.py, line 1)

In [9]:
namavariabel- = 10

SyntaxError: invalid syntax (3016185298.py, line 1)

In [11]:
namavariabel_ = 10

In [12]:
namavariabel_

10

### Keyword

In [13]:
False = 'benar'

SyntaxError: cannot assign to False (4160215074.py, line 1)

In [14]:
class = 'kelas'

SyntaxError: invalid syntax (2918158033.py, line 1)

In [15]:
global = 'top global'

SyntaxError: invalid syntax (1608864054.py, line 1)

In [16]:
if = 'jika'

SyntaxError: invalid syntax (4222682708.py, line 1)

# Import

In [17]:
import math

In [18]:
var1 = 10/3

In [19]:
var1

3.3333333333333335

In [20]:
math.ceil(var1)

4

# Print

In [21]:
print('halo dunia')

halo dunia

In [24]:
var1 = 10
var2 = 20
var3 = 30

var4 = var1 + var2 / var3

var5 = var4 % 2

In [25]:
print(var4)

10.666666666666666

In [26]:
print(var5)

0.6666666666666661

# Comments

In [3]:
import math

In [1]:
# Fungsi untuk menghitung luas lingkaran
def luas_lingkaran(jari_jari):
    luas = math.pi * jari_jari ** 2
    return luas

In [4]:
lingkaran1 = luas_lingkaran(10) # hitung luas lingkaran dengan jari-jari 10

In [5]:
"""Ini adalah komentar
yang bisa digunakan
untuk memberikan penjelasan
pada kode program
"""
lingkaran2 = luas_lingkaran(7) # hitung luas lingkaran dengan jari-jari 7

In [6]:
lingkaran2

153.93804002589985

# Error

In [7]:
var1 = 10
var2! = 20
var3 = 30

SyntaxError: invalid syntax (1486130781.py, line 2)

In [8]:
var1 = 10
'125' / 5
var2 = 20

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
1 + 10 / 2 # seharusnya 5.5

6.0

In [11]:
(1 + 10) / 2

5.5

# Function

In [14]:
def hitung_luas():
    panjang = 10
    lebar = 5
    luas = panjang * lebar
    print(luas)

In [15]:
hitung_luas()

50

In [1]:
def hitung_luas(panjang, lebar):
    luas = panjang * lebar
    print(luas)

In [2]:
hitung_luas(10, 5)

50

In [3]:
hitung_luas(20, 10)

200

In [4]:
hitung_luas()

TypeError: hitung_luas() missing 2 required positional arguments: 'panjang' and 'lebar'

In [5]:
def hitung_luas(panjang=10, lebar=5):
    luas = panjang * lebar
    print(luas)

In [6]:
hitung_luas()

50

In [7]:
hitung_luas(20, 100)

2000

# Fancy Iteration

In [1]:
def hit_mundur(angka):
    if angka > 0:
        print(angka)
        hit_mundur(angka - 1)
    else:
        print('selesai')

In [2]:
hit_mundur(10)

10
9
8
7
6
5
4
3
2
1
selesai

# _ in Iteration

In [6]:
for _ in range(5):
    print('halo dunia')

halo dunia
halo dunia
halo dunia
halo dunia
halo dunia

In [8]:
for _ in range(5):
    print(_)
    print('halo dunia')

0
halo dunia
1
halo dunia
2
halo dunia
3
halo dunia
4
halo dunia

In [7]:
for i in range(5):
    print(i)
    print('halo dunia')

0
halo dunia
1
halo dunia
2
halo dunia
3
halo dunia
4
halo dunia

# _ in Number

In [9]:
var1 = 10000000
var2 = 10_000_000

In [10]:
print(var1)

10000000

In [11]:
print(var2)

10000000

In [17]:
if var1 == var2: print('sama')

sama

In [18]:
if 10000000 == 10_000_000: print('sama')

sama

In [13]:
var1 = 10000000
var2 = 100_00_000

In [15]:
if var1 == var2: print('sama')

sama

In [19]:
if 10_000_000 == 100_00_000: print('sama')

sama

In [23]:
if 12_3456_78 == 12345678: print('sama')

sama

In [21]:
if 10__000_000 == 100_00_000: print('sama')

SyntaxError: invalid decimal literal (4096699573.py, line 1)

# Function

In [1]:
def fungsi1():
    var1 = 10
    return var1

In [2]:
fungsi1()

10

In [4]:
var2 = fungsi1()

In [6]:
var2 * 10

100

In [11]:
def fungsi1():
    var1 = 10
    print(var1)

In [12]:
def fungsi2():
    fungsi1()

In [13]:
fungsi2()

10

In [14]:
def fungsi3(var3=10):
    return var3*10

In [15]:
def fungsi4():
    var4 = fungsi3()
    print(var4)

In [16]:
fungsi4()

100

## Variables are local

In [17]:
var1 = 10

def fungsi1():
    var2 = 20

print(var1)

10

In [18]:
print(var2)

NameError: name 'var2' is not defined

In [20]:
var3 = 10

def fungsi2():
    var3 = 100
    print(var3)

print(var3)

10

In [21]:
fungsi2()

100

In [22]:
var4 = 20

def fungsi3():
    global var4
    var4 = 100

In [23]:
print(var4)

20

In [24]:
fungsi3()

In [25]:
print(var4)

100

In [26]:
var5 = 20

def fungsi4():
    return var5

var6 = fungsi4()

print(var6)

20

In [27]:
var5 = 20

def fungsi4():
    return var5 * 10

var6 = fungsi4()

print(var6)

200

In [28]:
var5 = 20

def fungsi4():
    return var5 * 10

var5 = fungsi4()

print(var5)

200

# // Char

In [1]:
100 / 60

1.6666666666666667

In [2]:
100 // 60

1

In [3]:
100 /// 60

SyntaxError: invalid syntax (2577013392.py, line 1)

In [4]:
100 + 60

160

In [5]:
100 ++ 60

160

In [6]:
100 +++ 60

160

In [7]:
100 / 60

1.6666666666666667

In [8]:
100 // 60

1

In [9]:
 100 /// 60

SyntaxError: invalid syntax (2194760514.py, line 1)

# Boolean Expressions

In [10]:
5 == 5

True

In [12]:
5 == 6

False

In [13]:
5 != 6

True

In [14]:
5 != 5

False

In [15]:
5 < 6

True

In [16]:
5 > 6

False

# Import

In [1]:
10/3

3.3333333333333335

In [2]:
math.ceil(10/3)

NameError: name 'math' is not defined

In [3]:
import math

In [4]:
math.ceil(10/3)

4

# Logical Operator

## AND

In [29]:
True and True

True

In [30]:
True and False

False

In [34]:
False and True

False

In [33]:
False and False

False

## OR

In [36]:
True or True

True

In [37]:
True or False

True

In [39]:
False or True

True

In [40]:
False or False

False

## NOT

In [41]:
True not True

SyntaxError: invalid syntax (4254233989.py, line 1)

In [42]:
True not False

SyntaxError: invalid syntax (427692260.py, line 1)

In [43]:
True not 1 > 5

SyntaxError: invalid syntax (693742007.py, line 1)

In [44]:
1 > 5 not True

SyntaxError: invalid syntax (3076007127.py, line 1)

In [45]:
1 > 5 not False

SyntaxError: invalid syntax (499698360.py, line 1)

In [1]:
True not False

SyntaxError: invalid syntax (427692260.py, line 1)

In [46]:
not 1 > 5

True

In [2]:
not 1 < 5

False

In [3]:
1 < 5 not

SyntaxError: invalid syntax (3993186734.py, line 1)

In [4]:
'halo' in 'halo dunia'

True

In [5]:
not 'halo' in 'halo dunia'

False

In [6]:
'lorem' in 'halo dunia'

False

In [7]:
not 'lorem' in 'halo dunia'

True