# ChatGPT

In [1]:
import pyodbc

# Definisikan informasi koneksi
server = '146.190.109.222,1434'       # Ganti dengan nama server Anda
database = 'AdventureWorks2019'   # Ganti dengan nama database Anda
username = 'auditor'   # Ganti dengan nama pengguna Anda
password = 'basangdata'      # Ganti dengan kata sandi Anda

# Buat string koneksi
connection_string = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
)

# Buat koneksi
try:
    connection = pyodbc.connect(connection_string)
    print("Koneksi berhasil!")
    
    # Buat cursor
    cursor = connection.cursor()
    
    # Contoh query
    cursor.execute("SELECT @@version;")
    row = cursor.fetchone()
    print(f"SQL Server Version: {row[0]}")
    
    # Tutup cursor dan koneksi
    cursor.close()
    connection.close()

except Exception as e:
    print(f"Terjadi kesalahan: {e}")

Koneksi berhasil!
SQL Server Version: Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
	Sep 24 2019 13:48:23
	Copyright (C) 2019 Microsoft Corporation
	Express Edition (64-bit) on Windows 10 Pro 10.0 <X64> (Build 19045: ) (Hypervisor)

In [2]:
import pandas as pd
import pyodbc

# Definisikan informasi koneksi
server = '146.190.109.222,1434'       # Ganti dengan nama server Anda
database = 'AdventureWorks2019'   # Ganti dengan nama database Anda
username = 'auditor'   # Ganti dengan nama pengguna Anda
password = 'basangdata'      # Ganti dengan kata sandi Anda

# Buat string koneksi
connection_string = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password};'
)

# Buat koneksi
try:
    # Koneksi ke database
    connection = pyodbc.connect(connection_string)
    
    # Buat query
    query = "SELECT * FROM Sales.SalesOrderHeader"  # Ganti dengan nama tabel atau query yang sesuai
    
    # Ambil data ke dalam DataFrame
    df = pd.read_sql(query, connection)
    
    # Tampilkan DataFrame
    print(df.head())  # Menampilkan 5 baris pertama dari DataFrame
    
    # Tutup koneksi
    connection.close()

except Exception as e:
    print(f"Terjadi kesalahan: {e}")

C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_27712\397583101.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_27712\397583101.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

   SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0         43659               8 2011-05-31 2011-06-12 2011-06-07       5
1         43660               8 2011-05-31 2011-06-12 2011-06-07       5
2         43661               8 2011-05-31 2011-06-12 2011-06-07       5
3         43662               8 2011-05-31 2011-06-12 2011-06-07       5
4         43663               8 2011-05-31 2011-06-12 2011-06-07       5

   OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  ...  \
0            False          SO43659         PO522145787  10-4020-000676  ...
1            False          SO43660       PO18850127500  10-4020-000117  ...
2            False          SO43661       PO18473189620  10-4020-000442  ...
3            False          SO43662       PO18444174044  10-4020-000227  ...
4            False          SO43663       PO18009186470  10-4020-000510  ...

   CreditCardID  CreditCardApprovalCode  CurrencyRateID    SubTotal  \
0       16281.0           105041Vi84182             NaN  20565.6206
1        5618.0           115213Vi29411             NaN   1294.2529
2        1346.0             85274Vi6854             4.0  32726.4786
3       10456.0           125295Vi53935             4.0  28832.5289
4        4322.0            45303Vi22691             NaN    419.4589

      TaxAmt   Freight    TotalDue Comment  \
0  1971.5149  616.0984  23153.2339    None
1   124.2483   38.8276   1457.3288    None
2  3153.7696  985.5530  36865.8012    None
3  2775.1646  867.2389  32474.9324    None
4    40.2681   12.5838    472.3108    None

                                rowguid  ModifiedDate
0  79B65321-39CA-4115-9CBA-8FE0903E12E6    2011-06-07
1  738DC42D-D03B-48A1-9822-F95A67EA7389    2011-06-07
2  D91B9131-18A4-4A11-BC3A-90B6F53E9D74    2011-06-07
3  4A1ECFC0-CC3A-4740-B028-1C50BB48711C    2011-06-07
4  9B1E7A40-6AE0-4AD3-811C-A64951857C4B    2011-06-07

[5 rows x 26 columns]

# Claude

In [2]:
import pyodbc

# Parameter koneksi
server = '146.190.109.222,1434'
database = 'AdventureWorks2019'
username = 'auditor'
password = 'basangdata'
driver = '{ODBC Driver 17 for SQL Server}'  # Sesuaikan dengan driver yang Anda miliki

# Membuat string koneksi
conn_str = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}'

try:
    # Membuat koneksi
    conn = pyodbc.connect(conn_str)
    
    # Membuat cursor
    cursor = conn.cursor()
    
    print("Koneksi berhasil dibuat!")
    
    # Di sini Anda bisa menambahkan kode untuk query atau operasi database lainnya
    
    # Jangan lupa untuk menutup koneksi setelah selesai
    conn.close()
    print("Koneksi ditutup.")
    
except pyodbc.Error as e:
    print(f"Error dalam koneksi: {e}")

Koneksi berhasil dibuat!
Koneksi ditutup.

In [7]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine

# Parameter koneksi
server = '146.190.109.222:1434'
database = 'AdventureWorks2019'
username = 'auditor'
password = 'basangdata'

# Membuat string koneksi untuk SQLAlchemy
conn_str = f'mssql+pyodbc://{username}:{password}@{server}/{database}?driver={driver}'

try:
    # Membuat engine SQLAlchemy
    engine = create_engine(conn_str)
    
    # Membuat koneksi
    with engine.connect() as conn:
        print("Koneksi berhasil dibuat!")
        
        # Contoh query
        query = "SELECT TOP 10 * FROM nama_tabel"
        
        # Menggunakan pandas untuk membaca hasil query ke DataFrame
        df = pd.read_sql(query, conn)
        
        # Menampilkan hasil
        print(df)
    
    print("Koneksi ditutup.")
    
except Exception as e:
    print(f"Error: {e}")

Error: (pyodbc.Error) ('IM012', '[IM012] [Microsoft][ODBC Driver Manager] DRIVER keyword syntax error (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/20/dbapi)

In [5]:
#!pip install sqlalchemy

In [9]:
import pyodbc
import pandas as pd

# Parameter koneksi
server = '146.190.109.222,1434'
database = 'AdventureWorks2019'
username = 'auditor'
password = 'basangdata'

# Membuat string koneksi
conn_str = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}'

try:
    # Membuat koneksi
    conn = pyodbc.connect(conn_str)
    
    print("Koneksi berhasil dibuat!")
    
    # Contoh query
    query = "SELECT TOP 10 * FROM Sales.SalesOrderHeader"
    
    # Menggunakan pandas untuk membaca hasil query ke DataFrame
    df = pd.read_sql(query, conn)
    
    # Menampilkan hasil
    print(df)
    
    # Menutup koneksi
    conn.close()
    print("Koneksi ditutup.")
    
except pyodbc.Error as e:
    print(f"Error dalam koneksi atau query: {e}")

Koneksi berhasil dibuat!

C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_4656\3591780639.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0         43659               8 2011-05-31 2011-06-12 2011-06-07       5
1         43660               8 2011-05-31 2011-06-12 2011-06-07       5
2         43661               8 2011-05-31 2011-06-12 2011-06-07       5
3         43662               8 2011-05-31 2011-06-12 2011-06-07       5
4         43663               8 2011-05-31 2011-06-12 2011-06-07       5
5         43664               8 2011-05-31 2011-06-12 2011-06-07       5
6         43665               8 2011-05-31 2011-06-12 2011-06-07       5
7         43666               8 2011-05-31 2011-06-12 2011-06-07       5
8         43667               8 2011-05-31 2011-06-12 2011-06-07       5
9         43668               8 2011-05-31 2011-06-12 2011-06-07       5

   OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  ...  \
0            False          SO43659         PO522145787  10-4020-000676  ...
1            False          SO43660       PO18850127500  10-4020-000117  ...
2            False          SO43661       PO18473189620  10-4020-000442  ...
3            False          SO43662       PO18444174044  10-4020-000227  ...
4            False          SO43663       PO18009186470  10-4020-000510  ...
5            False          SO43664       PO16617121983  10-4020-000397  ...
6            False          SO43665       PO16588191572  10-4020-000146  ...
7            False          SO43666       PO16008173883  10-4020-000511  ...
8            False          SO43667       PO15428132599  10-4020-000646  ...
9            False          SO43668       PO14732180295  10-4020-000514  ...

   CreditCardID  CreditCardApprovalCode  CurrencyRateID    SubTotal  \
0         16281           105041Vi84182             NaN  20565.6206
1          5618           115213Vi29411             NaN   1294.2529
2          1346             85274Vi6854             4.0  32726.4786
3         10456           125295Vi53935             4.0  28832.5289
4          4322            45303Vi22691             NaN    419.4589
5           806             95555Vi4081             NaN  24432.6088
6         15232            35568Vi78804             NaN  14352.7713
7         13349           105623Vi69217             NaN   5056.4896
8         10370            55680Vi53503             NaN   6107.0820
9          1566             85817Vi8045             4.0  35944.1562

      TaxAmt    Freight    TotalDue Comment  \
0  1971.5149   616.0984  23153.2339    None
1   124.2483    38.8276   1457.3288    None
2  3153.7696   985.5530  36865.8012    None
3  2775.1646   867.2389  32474.9324    None
4    40.2681    12.5838    472.3108    None
5  2344.9921   732.8100  27510.4109    None
6  1375.9427   429.9821  16158.6961    None
7   486.3747   151.9921   5694.8564    None
8   586.1203   183.1626   6876.3649    None
9  3461.7654  1081.8017  40487.7233    None

                                rowguid  ModifiedDate
0  79B65321-39CA-4115-9CBA-8FE0903E12E6    2011-06-07
1  738DC42D-D03B-48A1-9822-F95A67EA7389    2011-06-07
2  D91B9131-18A4-4A11-BC3A-90B6F53E9D74    2011-06-07
3  4A1ECFC0-CC3A-4740-B028-1C50BB48711C    2011-06-07
4  9B1E7A40-6AE0-4AD3-811C-A64951857C4B    2011-06-07
5  22A8A5DA-8C22-42AD-9241-839489B6EF0D    2011-06-07
6  5602C304-853C-43D7-9E79-76E320D476CF    2011-06-07
7  E2A90057-1366-4487-8A7E-8085845FF770    2011-06-07
8  86D5237D-432D-4B21-8ABC-671942F5789D    2011-06-07
9  281CC355-D538-494E-9B44-461B36A826C6    2011-06-07

[10 rows x 26 columns]
Koneksi ditutup.

# Gemini

In [3]:
import pyodbc

# String koneksi
conn_string = (
    r'Driver={SQL Server};'
    r'Server=146.190.109.222,1434;'
    r'Database=AdventureWorks2019;'
    r'UID=auditor;'
    r'PWD=basangdata;'
)

# Buat koneksi
try:
    conn = pyodbc.connect(conn_string)
    print("Connected to database")

    # Buat cursor
    cursor = conn.cursor()

    # Contoh query: Mengambil semua data dari tabel 'your_table_name'
    cursor.execute("SELECT * FROM Sales.SalesOrderHeader")

    # Fetch semua baris
    rows = cursor.fetchall()

    # Print hasil
    #for row in rows:
    #    print(row)

except pyodbc.Error as ex:
    print("Error:", ex)

finally:
    if conn:
        conn.close()
        print("Connection closed")

Connected to database
Connection closed

In [4]:
import pyodbc
import pandas as pd

# Koneksi ke database
conn_string = (
    r'Driver={SQL Server};'
    r'Server=146.190.109.222,1434;'
    r'Database=AdventureWorks2019;'
    r'UID=auditor;'
    r'PWD=basangdata;'
)

conn = pyodbc.connect(conn_string)

# Query SQL
query = "SELECT * FROM Sales.SalesOrderHeader"

# Baca data ke DataFrame
df = pd.read_sql(query, conn)

# Tampilkan DataFrame
print(df.head())

C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_30084\978390675.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd
C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_30084\978390675.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

   SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0         43659               8 2011-05-31 2011-06-12 2011-06-07       5
1         43660               8 2011-05-31 2011-06-12 2011-06-07       5
2         43661               8 2011-05-31 2011-06-12 2011-06-07       5
3         43662               8 2011-05-31 2011-06-12 2011-06-07       5
4         43663               8 2011-05-31 2011-06-12 2011-06-07       5

   OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  ...  \
0            False          SO43659         PO522145787  10-4020-000676  ...
1            False          SO43660       PO18850127500  10-4020-000117  ...
2            False          SO43661       PO18473189620  10-4020-000442  ...
3            False          SO43662       PO18444174044  10-4020-000227  ...
4            False          SO43663       PO18009186470  10-4020-000510  ...

   CreditCardID  CreditCardApprovalCode  CurrencyRateID    SubTotal  \
0       16281.0           105041Vi84182             NaN  20565.6206
1        5618.0           115213Vi29411             NaN   1294.2529
2        1346.0             85274Vi6854             4.0  32726.4786
3       10456.0           125295Vi53935             4.0  28832.5289
4        4322.0            45303Vi22691             NaN    419.4589

      TaxAmt   Freight    TotalDue Comment  \
0  1971.5149  616.0984  23153.2339    None
1   124.2483   38.8276   1457.3288    None
2  3153.7696  985.5530  36865.8012    None
3  2775.1646  867.2389  32474.9324    None
4    40.2681   12.5838    472.3108    None

                                rowguid  ModifiedDate
0  79B65321-39CA-4115-9CBA-8FE0903E12E6    2011-06-07
1  738DC42D-D03B-48A1-9822-F95A67EA7389    2011-06-07
2  D91B9131-18A4-4A11-BC3A-90B6F53E9D74    2011-06-07
3  4A1ECFC0-CC3A-4740-B028-1C50BB48711C    2011-06-07
4  9B1E7A40-6AE0-4AD3-811C-A64951857C4B    2011-06-07

[5 rows x 26 columns]

In [7]:
import pyodbc
import pandas as pd

# Koneksi ke database
conn_string = (
    r'Driver={SQL Server};'
    r'Server=146.190.109.222,1434;'
    r'Database=AdventureWorks2019;'
    r'UID=auditor;'
    r'PWD=basangdata;'
)

conn = pyodbc.connect(conn_string)

# Query SQL dengan parameter
query = "SELECT * FROM Sales.SalesOrderHeader WHERE SalesOrderID = ?"
param = ('43659',)

# Baca data ke DataFrame
df = pd.read_sql(query, conn, params=param)

C:\Users\aansubarkah\AppData\Local\Temp\ipykernel_30084\2894190987.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=param)

In [8]:
df

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,16281,105041Vi84182,None,20565.6206,1971.5149,616.0984,23153.2339,None,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07