# Basic Python for Auditor - Class

<strong>Sekolah Sabtu Auditor by BasangData.com</strong>

# Akan didiskusikan

- Kenapa perlu Basic Python - Class?
- Menggunakan Class yang sudah ada
- Membuat sendiri Class

# Kenapa perlu Function (fungsi) di Python?

## Apa itu fungsi?

<div>
<img src="coffee_maker.jpg" width="500" />
</div>

Fungsi adalah semacam Coffee Maker.
- Sebuah alat/sistem
- Kita pakai untuk melakukan sesuatu (membuat kopi)
- Ada input (biji kopi, air, susu)
- Ada output (air kopi)
- Output bisa beragam (Americano, Espresso, Latte) tergantung tombol yg kita pencet (parameter)

<div>
<img src="function_input_output.png" width="500" />
</div>

### Tiga hal yang ada dalam fungsi
- Input
- Proses
- Output (tidak wajib, contohnya fungsi hanya menampilkan nilai seperti kalkulator)

## Apa manfaat fungsi?

- Tidak perlu membuat sendiri cofee maker (tidak perlu membuat fungsi sendiri untuk output yg sama)
- Mengurangi kompleksitas kode, mengurangi ukuran file, mengurangi kemungkinan error
- Lebih mudah memperbaiki/mengubah kode, karena tidak perlu mengubah semua fungsi/kode

## Dua jenis fungsi, dari perspektif pembuatan
- Fungsi yang sudah ada
- Fungsi yang dibuat sendiri

# Menggunakan Function yang sudah ada

## Sumber/pembuat fungsi
- Python (built-in function in python)
- Standard library
- Pihak ketiga

### Contoh built-in function
- [abs()](https://docs.python.org/3/library/functions.html#abs)
- [ascii()](https://docs.python.org/3/library/functions.html#ascii)
- [len()](https://docs.python.org/3/library/functions.html#len)
<br>
<strong>Catatan:</strong> Tidak perlu import apapun.
<br>
Daftar lengkap: https://docs.python.org/3/library/functions.html

In [6]:
abs(-100)

100

In [7]:
len('hello world')

11

In [9]:
ls = [1, 2, 3, 4, 5, 8]
len(ls)

6

### Contoh standard library
- datetime
- math
- random
<br>
<strong>Catatan:</strong> Perlu import, tapi tidak perlu install library
<br>
Daftar lengkap: https://docs.python.org/3/library/index.html

In [1]:
ceil(10.1)

NameError: name 'ceil' is not defined

In [2]:
math.ceil(10.1)

NameError: name 'math' is not defined

In [3]:
import math

In [4]:
math.ceil(10.1)

11

In [13]:
from datetime import datetime

text = "AA-2025-01-31-BB"
date_string = text[3:13]
date_object = datetime.strptime(date_string, '%Y-%m-%d')  
formatted_date = date_object.strftime('%Y:%d:%m')

In [14]:
date_string

'2025-01-31'

In [15]:
date_object

datetime.datetime(2025, 1, 31, 0, 0)

In [16]:
formatted_date

'2025:31:01'

### Fungsi dari pihak ketiga

In [ ]:
!pip install pandas

In [17]:
import pandas as pd

In [57]:
pd.read_csv('https://github.com/aansubarkah/ssa/raw/refs/heads/main/MembukaPDF/SalesOrderHeaderMinimized.csv', sep='\t')

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44654,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44654,NaN,10-4030-028619,...,12353.0,1032841Vi63906,NaN,3578.2700,286.2616,89.4568,3953.9884,NaN,999EC164-6BC0-4D4D-B0D7-BF8A3377CC7C,2011-10-21 00:00:00.000
996,44655,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44655,NaN,10-4030-011105,...,18919.0,834150Vi98284,1770.0,3399.9900,271.9992,84.9998,3756.9890,NaN,FAC4363F-6932-47FF-8801-5619ED2BBA56,2011-10-21 00:00:00.000
997,44656,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44656,NaN,10-4030-018275,...,12162.0,1234424Vi62869,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,51FBF6A5-4AF7-49F1-B9EF-F4100496F000,2011-10-21 00:00:00.000
998,44657,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44657,NaN,10-4030-011120,...,5503.0,934967Vi28849,1770.0,3374.9900,269.9992,84.3748,3729.3640,NaN,CF059E0D-3392-49F0-8DA9-0865798C4FB3,2011-10-21 00:00:00.000
999,44658,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44658,NaN,10-4030-018201,...,1429.0,135323Vi7318,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,D55CC1B2-4443-4DA7-BB75-F5DEFD62B2B8,2011-10-21 00:00:00.000

In [34]:
df = pd.read_csv('https://github.com/aansubarkah/ssa/raw/refs/heads/main/MembukaPDF/SalesOrderHeaderMinimized.csv', sep='\t')

In [35]:
df

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44654,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44654,NaN,10-4030-028619,...,12353.0,1032841Vi63906,NaN,3578.2700,286.2616,89.4568,3953.9884,NaN,999EC164-6BC0-4D4D-B0D7-BF8A3377CC7C,2011-10-21 00:00:00.000
996,44655,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44655,NaN,10-4030-011105,...,18919.0,834150Vi98284,1770.0,3399.9900,271.9992,84.9998,3756.9890,NaN,FAC4363F-6932-47FF-8801-5619ED2BBA56,2011-10-21 00:00:00.000
997,44656,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44656,NaN,10-4030-018275,...,12162.0,1234424Vi62869,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,51FBF6A5-4AF7-49F1-B9EF-F4100496F000,2011-10-21 00:00:00.000
998,44657,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44657,NaN,10-4030-011120,...,5503.0,934967Vi28849,1770.0,3374.9900,269.9992,84.3748,3729.3640,NaN,CF059E0D-3392-49F0-8DA9-0865798C4FB3,2011-10-21 00:00:00.000
999,44658,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44658,NaN,10-4030-018201,...,1429.0,135323Vi7318,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,D55CC1B2-4443-4DA7-BB75-F5DEFD62B2B8,2011-10-21 00:00:00.000

In [49]:
df2 = pd.read_csv('https://github.com/aansubarkah/ssa/raw/refs/heads/main/MembukaPDF/SalesOrderHeaderMinimized.csv')

In [50]:
df2

    SalesOrderID\t"RevisionNumber"\t"OrderDate"\t"DueDate"\t"ShipDate"\t"Status"\t"OnlineOrderFlag"\t"SalesOrderNumber"\t"PurchaseOrderNumber"\t"AccountNumber"\t"CustomerID"\t"SalesPersonID"\t"TerritoryID"\t"BillToAddressID"\t"ShipToAddressID"\t"ShipMethodID"\t"CreditCardID"\t"CreditCardApprovalCode"\t"CurrencyRateID"\t"SubTotal"\t"TaxAmt"\t"Freight"\t"TotalDue"\t"Comment"\t"rowguid"\t"ModifiedDate"
0    43659\t8\t2011-05-31 00:00:00.000\t2011-06-12 ...
1    43660\t8\t2011-05-31 00:00:00.000\t2011-06-12 ...
2    43661\t8\t2011-05-31 00:00:00.000\t2011-06-12 ...
3    43662\t8\t2011-05-31 00:00:00.000\t2011-06-12 ...
4    43663\t8\t2011-05-31 00:00:00.000\t2011-06-12 ...
..                                                 ...
995  44654\t8\t2011-10-14 00:00:00.000\t2011-10-26 ...
996  44655\t8\t2011-10-14 00:00:00.000\t2011-10-26 ...
997  44656\t8\t2011-10-14 00:00:00.000\t2011-10-26 ...
998  44657\t8\t2011-10-14 00:00:00.000\t2011-10-26 ...
999  44658\t8\t2011-10-14 00:00:00.000\t2011-10-26 ...

[1000 rows x 1 columns]

# Membuat Function sendiri

## Bentuk primitif fungsi

In [36]:
def nama_fungsi():
    print('halo dunia')

In [37]:
nama_fungsi()

halo dunia

## Modif input

In [41]:
def nama_fungsi1(input1):
    print(input1)

In [44]:
nama_fungsi1('auditor lagi111')

auditor lagi111

## Modif input dengan default value

In [45]:
def nama_fungsi2(input1='auditor'):
    print(input1)

In [46]:
nama_fungsi2()

auditor

In [47]:
nama_fungsi2('auditeeeeee')

auditeeeeee

In [48]:
nama_fungsi2(input1='partner')

partner

## Fungsi yang mengembalikan nilai

In [51]:
def nama_fungsi3(angka=0):
    angka_temporer = angka * 10
    return angka_temporer

In [52]:
nama_fungsi3()

0

In [53]:
nama_fungsi3(7)

70

In [54]:
var_sementara = nama_fungsi3(8)

In [56]:
var_sementara

80

In [61]:
def nama_fungsi4(angka=0):
    temp_var = 'halo dunia, ini angka: ' + str(angka)
    return temp_var

In [62]:
var1 = nama_fungsi4(100)

In [63]:
var1

'halo dunia, ini angka: 100'

# Simpulan

- Fungsi untuk mengelompokkan kode
- Tidak perlu membuat fungsi sendiri

# Referensi Gratis

- [Think Python](https://allendowney.github.io/ThinkPython/chap01.html)