# Basic Python for Auditor - Class

<strong>Sekolah Sabtu Auditor by BasangData.com</strong>

# Akan didiskusikan

- Kenapa perlu Basic Python - Class?
- Menggunakan Class yang sudah ada
- Membuat sendiri Class

# Kenapa perlu Class (kelas) di Python?

## Apa itu kelas?

<div>
<img src="https://raw.githubusercontent.com/aansubarkah/ssa/refs/heads/main/basic_python/excel_super_template.jpg" width="500" style="display:block;margin:0 auto" />
</div>

Kelas adalah semacam super template Excel. Satu template dengan banyak template di dalamnya.
- Sebuah alat/sistem
- Kita pakai untuk melakukan sesuatu (membuat kopi)
- Ada input (biji kopi, air, susu)
- Ada output (air kopi)
- Output bisa beragam (Americano, Espresso, Latte) tergantung tombol yg kita pencet (parameter)

<div>
<img src="https://raw.githubusercontent.com/aansubarkah/ssa/refs/heads/main/basic_python/excel_template.jpg" width="500" style="display:block;margin:0 auto" />
</div>

### Tiga hal yang ada dalam kelas
- Fungsi
- Attribute (data)
- Inisialisasi (initialize), tidak wajib, tapi umumnya ada

## Apa manfaat kelas

- Tidak perlu membuat sendiri template (tidak perlu membuat kode fungsi sendiri untuk output yg sama)
- Mengurangi kompleksitas kode, mengurangi ukuran file, mengurangi kemungkinan error
- Lebih mudah memperbaiki/mengubah kode, karena tidak perlu mengubah semua fungsi/kode
- Struktur kode yang jelas

## Dua jenis kelas, dari perspektif pembuatan
- Kelas yang sudah ada
- Kelas yang dibuat sendiri

# Menggunakan Kelas yang sudah ada

## Sumber/pembuat kelas
- Standard library
- Pihak ketiga

### Contoh standard library
- [os](https://docs.python.org/3/library/os.html)
- [math](https://docs.python.org/3/library/math.html)
- [re](https://docs.python.org/3/library/re.html)
<br>
<strong>Catatan:</strong> Perlu import, tapi tidak perlu install library
<br>
Daftar lengkap: https://docs.python.org/3/library/index.html

In [1]:
os.name

NameError: name 'os' is not defined

In [2]:
import os

In [3]:
os.name

'nt'

#### Coba Sendiri

In [18]:
math.ceil(3.2)

NameError: name 'math' is not defined

In [ ]:
import math

math.ceil(3.2)

### Kelas dari pihak ketiga
- Perlu install (cukup sekali)
- Perlu import
Daftar lengkap: [https://pypi.org/](https://pypi.org/)

In [ ]:
!pip install pandas

In [4]:
pandas.read_csv('https://github.com/aansubarkah/ssa/raw/refs/heads/main/MembukaPDF/SalesOrderHeaderMinimized.csv', sep='\t')

NameError: name 'pandas' is not defined

In [11]:
import pandas as pd

In [12]:
pd.read_csv('https://github.com/aansubarkah/ssa/raw/refs/heads/main/MembukaPDF/SalesOrderHeaderMinimized.csv', sep='\t')

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44654,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44654,NaN,10-4030-028619,...,12353.0,1032841Vi63906,NaN,3578.2700,286.2616,89.4568,3953.9884,NaN,999EC164-6BC0-4D4D-B0D7-BF8A3377CC7C,2011-10-21 00:00:00.000
996,44655,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44655,NaN,10-4030-011105,...,18919.0,834150Vi98284,1770.0,3399.9900,271.9992,84.9998,3756.9890,NaN,FAC4363F-6932-47FF-8801-5619ED2BBA56,2011-10-21 00:00:00.000
997,44656,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44656,NaN,10-4030-018275,...,12162.0,1234424Vi62869,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,51FBF6A5-4AF7-49F1-B9EF-F4100496F000,2011-10-21 00:00:00.000
998,44657,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44657,NaN,10-4030-011120,...,5503.0,934967Vi28849,1770.0,3374.9900,269.9992,84.3748,3729.3640,NaN,CF059E0D-3392-49F0-8DA9-0865798C4FB3,2011-10-21 00:00:00.000
999,44658,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44658,NaN,10-4030-018201,...,1429.0,135323Vi7318,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,D55CC1B2-4443-4DA7-BB75-F5DEFD62B2B8,2011-10-21 00:00:00.000

In [13]:
df = pd.read_csv('https://github.com/aansubarkah/ssa/raw/refs/heads/main/MembukaPDF/SalesOrderHeaderMinimized.csv', sep='\t')

In [14]:
df

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44654,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44654,NaN,10-4030-028619,...,12353.0,1032841Vi63906,NaN,3578.2700,286.2616,89.4568,3953.9884,NaN,999EC164-6BC0-4D4D-B0D7-BF8A3377CC7C,2011-10-21 00:00:00.000
996,44655,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44655,NaN,10-4030-011105,...,18919.0,834150Vi98284,1770.0,3399.9900,271.9992,84.9998,3756.9890,NaN,FAC4363F-6932-47FF-8801-5619ED2BBA56,2011-10-21 00:00:00.000
997,44656,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44656,NaN,10-4030-018275,...,12162.0,1234424Vi62869,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,51FBF6A5-4AF7-49F1-B9EF-F4100496F000,2011-10-21 00:00:00.000
998,44657,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44657,NaN,10-4030-011120,...,5503.0,934967Vi28849,1770.0,3374.9900,269.9992,84.3748,3729.3640,NaN,CF059E0D-3392-49F0-8DA9-0865798C4FB3,2011-10-21 00:00:00.000
999,44658,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44658,NaN,10-4030-018201,...,1429.0,135323Vi7318,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,D55CC1B2-4443-4DA7-BB75-F5DEFD62B2B8,2011-10-21 00:00:00.000

### Coba Sendiri

In [16]:
fd = pd.read_excel('https://github.com/aansubarkah/ssa/raw/refs/heads/main/basic_python/SalesOrderHeaderMinimized.xlsx')

In [17]:
fd

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,NaN,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07 00:00:00.000
1,43660,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,NaN,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07 00:00:00.000
2,43661,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,NaN,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07 00:00:00.000
3,43662,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,NaN,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07 00:00:00.000
4,43663,8,2011-05-31 00:00:00.000,2011-06-12 00:00:00.000,2011-06-07 00:00:00.000,5,0,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,NaN,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,44654,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44654,NaN,10-4030-028619,...,12353.0,1032841Vi63906,NaN,3578.2700,286.2616,89.4568,3953.9884,NaN,999EC164-6BC0-4D4D-B0D7-BF8A3377CC7C,2011-10-21 00:00:00.000
996,44655,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44655,NaN,10-4030-011105,...,18919.0,834150Vi98284,1770.0,3399.9900,271.9992,84.9998,3756.9890,NaN,FAC4363F-6932-47FF-8801-5619ED2BBA56,2011-10-21 00:00:00.000
997,44656,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44656,NaN,10-4030-018275,...,12162.0,1234424Vi62869,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,51FBF6A5-4AF7-49F1-B9EF-F4100496F000,2011-10-21 00:00:00.000
998,44657,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44657,NaN,10-4030-011120,...,5503.0,934967Vi28849,1770.0,3374.9900,269.9992,84.3748,3729.3640,NaN,CF059E0D-3392-49F0-8DA9-0865798C4FB3,2011-10-21 00:00:00.000
999,44658,8,2011-10-14 00:00:00.000,2011-10-26 00:00:00.000,2011-10-21 00:00:00.000,5,1,SO44658,NaN,10-4030-018201,...,1429.0,135323Vi7318,1770.0,3578.2700,286.2616,89.4568,3953.9884,NaN,D55CC1B2-4443-4DA7-BB75-F5DEFD62B2B8,2011-10-21 00:00:00.000

# Membuat Kelas sendiri

## Bentuk primitif kelas

### Ada satu method (fungsi)

Beda fungsi dan method:
- fungsi = berdiri sendiri
- method = bagian dari kelas

In [5]:
class Pegawai: # Biasanya nama class diawali huruf kapital
    def tampilkan(self):
        print('halo dunia')

In [7]:
Pegawai().tampilkan()

halo dunia

- Kelas punya satu fungsi
- `self` merujuk pada diri sendiri (kelas itu sendiri)
- Kelas adalah sebuah objek. Jika satu kelas dibuat menjadi beberapa objek, `self` berguna bagi Python untuk membedakan data di masing-masing obyek

Bingung?

<br>

Kita ke contoh kedua

#### Coba Sendiri

In [ ]:
class Hewan:
    def suara(self):
        print('suara hewan')

### Ada init
Yaitu fungsi yang menginisialisasi (membuat) data atau melakukan sesuatu

In [19]:
class Mobil:
    def __init__(self):
        self.roda = 4
        self.pintu = 4
        self.jendela = 4
        self.steering = 1
        self.merk = 'Toyota'
        print('mobil dibuat')

In [20]:
Mobil()

mobil dibuat

In [21]:
Mobil().roda

mobil dibuat

4

#### Coba Sendiri

In [ ]:
class Motor:
    def __init__(self, merk):
        self.roda = 2
        self.merk = 'Honda'
        print('motor dibuat')

In [ ]:
Motor().roda

## Fungsi dan Attribut

In [22]:
class Hitung:
    def __init__(self):
        self.a = 0
        self.b = 10

    def tambah(self):
        return self.a + self.b

In [24]:
Hitung().tambah()

10

### Coba Sendiri

In [25]:
class Hitung:
    def __init__(self, a, b):
        self.a = a
        self.b = b

    def kurang(self):
        return self.a + self.b

In [ ]:
Hitung()

## Obyek

In [28]:
class Tumbuhan:
    def __init__(self, nama, jenis):
        self.nama = nama
        self.jenis = jenis

    def tampilkan(self):
        print(f'Nama: {self.nama}, Jenis: {self.jenis}')

In [29]:
aster = Tumbuhan('Aster', 'Bunga')

In [30]:
mangga = Tumbuhan('Mangga', 'Buah')

### Memanggil Fungsi

In [31]:
aster.tampilkan()

Nama: Aster, Jenis: Bunga

#### Coba Sendiri

In [ ]:
mangga.tampilkan()

`self` membuat Tumbuhan pada `aster` dan `mangga` memiliki nama (attribute) berbeda.

<br>
aster dan mangga menjadi dua obyek terpisah, meski awalnya adalah satu obyek.

# Simpulan

- Satu kelas, banyak fungsi
- Kelas = Obyek/benda
- Kelas menggabungkan data dan fungsi (contoh: nama manusia + kebisaan)

# Referensi Gratis

- [Think Python](https://allendowney.github.io/ThinkPython/chap01.html)

## Intermezzo
[Kenapa digunakan kata 'class' dalam programming?](https://softwareengineering.stackexchange.com/questions/385813/why-are-classes-named-class)